 * {
     transition: all 0.2s ease 0s;
 }

 body {
     display: flex;
     flex-direction: column;
     align-items: center;
     background-color: #1c1c20;
     color: #DCDCE0;
     margin: 0 auto;
 }

 a {
     color: #DCDCE0;
 }

 /* 头部样式 */

 .header {
     display: flex;
     width: 95%;
     justify-content: space-between;
     align-items: center;
     height: 28px;
     margin: 3% 0;
 }

 .header .weather {
     display: flex;
     font-size: 13px;
 }

 /* logo样式 */

 .header .logo {
     display: flex;
     justify-content: center;
     font-size: 20px;
 }

 .header .theme-switcher {
     position: relative;
     display: flex;
     height: 24px;
     width: 44px;
     background-color: #555555;
     border-radius: 22px;
     align-items: center;
     transition: all 0.7s ease 0s;
     box-shadow: 0 0 0 1px rgb(0 0 0 / 5%), 0 2px 3px 0 rgb(0 0 0 / 10%);
 }

 .header .theme-switcher .theme-circle {
     position: absolute;
     height: 16px;
     width: 16px;
     border-radius: 50%;
     background-color: #ffffff;
     transition: all 0.7s ease 0s;
     box-shadow: 0 0 0 1px rgb(0 0 0 / 5%), 0 2px 3px 0 rgb(0 0 0 / 10%);
     left: 0px;
 }

 /* 搜索框样式 */

 .search-object {
     display: flex;
     justify-content: space-between;
     margin: 5px auto 0;
     width: 95%;
     height: 40px;
     border-radius: 10px;
     overflow: hidden;
     align-items: center;
     box-shadow: 0 0 0 1px rgb(0 0 0 / 5%), 0 2px 3px 0 rgb(0 0 0 / 10%);
 }

 .search-object .search-input {
     padding-left: 5%;
     height: 100%;
     width: 80%;
     background-color: #444444;
     color: #DCDCE0;
 }

 .search-object .search-input::placeholder {
     color: #DCDCE0;
 }

 .search-object .search-button {
     height: 100%;
     width: 20%;
     background-color: #444444;
     color: #DCDCE0;
 }

 /* 搜索类型 */

 .search-type {
     display: flex;
     width: 95%;
     height: 4%;
     margin: 10px auto 0;
     border-bottom: 1px solid #555555;
 }

 .search-type li {
     display: flex;
     justify-content: center;
     align-items: center;
     margin-right: 3%;
     width: 10%;
     height: 75%;
     font-size: 13px;
     cursor: pointer;
 }

 .search-type li:hover {
     border-bottom: 1px solid #e0e0e0;
 }

 .search-type li span {
     padding-bottom: 5px;
 }

 /* .search-type li span a {
     color: #66BBFF;
 } */

 /* 搜索结果样式 */

 .search-result {
     display: flex;
     flex-direction: column;
     align-items: center;
     margin-top: 5px;
     width: 95%;
     border-radius: 5px;
 }

 .search-result li {
     margin-top: 10px;
     padding: 10px;
     width: 100%;
     border-radius: 10px;
     background-color: #2c2c30;
     box-shadow: 0 0 0 1px rgb(0 0 0 / 5%), 0 2px 3px 0 rgb(0 0 0 / 10%);
 }

 .search-result li h2 {
     margin-bottom: 5px;
     font-size: 16px;
     font-weight: 400;
 }

 .search-result li h2 a {
     color: #66BBFF;
 }

 .search-result li p {
     margin-bottom: 5px;
 }

 .next {
     display: flex;
     justify-content: center;
     align-items: center;
     margin: 10px auto 5px;
     width: 95%;
     height: 40px;
     background-color: #2c2c30;
     border-radius: 10px;
     box-shadow: 0 0 0 1px rgb(0 0 0 / 5%), 0 2px 3px 0 rgb(0 0 0 / 10%);
 }

 /* 底部样式 */

 .footer {
     display: flex;
     flex-direction: row;
     justify-content: center;
     width: 100%;
     margin: 10px auto;
 }