 * {
     transition: all 0.2s ease 0s;
 }

 body {
     display: flex;
     flex-direction: column;
     align-items: center;
     background-color: #1c1c20;
     margin: 0 auto;
     color: #DCDCE0;
 }

 a {
     color: #DCDCE0;
 }

 /* 头部样式 */

 .header {
     display: flex;
     width: 95%;
     justify-content: space-between;
     align-items: center;
     height: 28px;
     margin: 3% 0;
 }

 .header .weather {
     display: flex;
     font-size: 13px;
 }

 /* logo样式 */

 .header .logo {
     display: flex;
     justify-content: center;
     font-size: 20px;
 }

 .header .theme-switcher {
     position: relative;
     display: flex;
     height: 24px;
     width: 44px;
     background-color: #555555;
     border-radius: 22px;
     align-items: center;
     transition: all 0.7s ease 0s;
     box-shadow: 0 0 0 1px rgb(0 0 0 / 5%), 0 2px 3px 0 rgb(0 0 0 / 10%);
 }

 .header .theme-switcher .theme-circle {
     position: absolute;
     height: 16px;
     width: 16px;
     border-radius: 50%;
     background-color: #ffffff;
     transition: all 0.7s ease 0s;
     box-shadow: 0 0 0 1px rgb(0 0 0 / 5%), 0 2px 3px 0 rgb(0 0 0 / 10%);
     left: 0px;
 }

 /* 翻译框样式 */

 .translate-object {
     display: flex;
     justify-content: space-between;
     margin: 5px auto 0;
     width: 95%;
     height: 40px;
     border-radius: 10px;
     overflow: hidden;
     align-items: center;
     box-shadow: 0 0 0 1px rgb(0 0 0 / 5%), 0 2px 3px 0 rgb(0 0 0 / 10%);
 }

 .translate-object .translate-input {
     padding-left: 5%;
     height: 100%;
     width: 80%;
     background-color: #444444;
     color: #DCDCE0;
 }

 .translate-object .translate-input::placeholder {
     color: #DCDCE0;
 }

 .translate-object .translate-button {
     height: 100%;
     width: 20%;
     background-color: #444444;
     color: #DCDCE0;
 }

 /* 翻译类型 */

 .translate-type {
     display: flex;
     width: 95%;
     height: 4%;
     margin: 10px auto 0;
     border-bottom: 1px solid #555555;
 }

 .translate-type li {
     display: flex;
     justify-content: center;
     align-items: center;
     margin-right: 3%;
     width: 10%;
     height: 75%;
     font-size: 13px;
     cursor: pointer;
 }

 .translate-type li:hover {
     border-bottom: 1px solid #e0e0e0;
 }

 .translate-type li span {
     padding-bottom: 5px;
 }

 /* 翻译结果样式 */

 .translate-result {
     display: flex;
     flex-direction: column;
     margin-top: 5px;
     width: 95%;
     border-radius: 5px;
 }

 /* 中文到英文 */

 .translate-result .zh-en {
     display: flex;
     flex-direction: column;
     align-self: flex-start;
     margin-top: 10px;
     padding: 10px;
     padding-bottom: 5px;
     border-radius: 10px;
     background-color: #2c2c30;
     box-shadow: 0 0 0 1px rgb(0 0 0 / 5%), 0 2px 3px 0 rgb(0 0 0 / 10%);
 }

 .translate-result .zh-en .zh {
     font-size: 16px;
 }

 .translate-result .zh-en .en {
     font-size: 14px;
     margin-bottom: 5px;
 }

 .translate-result .zh-en .from {
     align-self: flex-end;
     color: #66BBFF;
 }

 /* 英文到中文 */

 .translate-result .en-ch {
     display: flex;
     flex-direction: column;
     align-self: flex-end;
     margin-top: 10px;
     padding: 10px;
     border-radius: 10px;
     background-color: #2c2c30;
     box-shadow: 0 0 0 1px rgb(0 0 0 / 5%), 0 2px 3px 0 rgb(0 0 0 / 10%);
 }

 .translate-result .en-ch .en {
     font-size: 16px;
 }

 .translate-result .en-ch .zh {
     font-size: 14px;
     margin-bottom: 5px;
 }

 .translate-result .en-ch .from {
     align-self: flex-end;
     color: #66BBFF;
 }

 /* 清除 */

 .clear-all {
     position: fixed;
     bottom: 5px;
     display: flex;
     align-self: flex-start;
     justify-content: center;
     align-items: center;
     right: 20px;
     bottom: 40px;
     width: 50px;
     height: 50px;
     border-radius: 50%;
     cursor: pointer;
     font-size: 13px;
     background-color: #444444;
     box-shadow: 0 0 0 1px rgb(0 0 0 / 5%), 0 2px 3px 0 rgb(0 0 0 / 10%);
 }

 /* 底部样式 */

 .footer {
     display: flex;
     flex-direction: row;
     justify-content: center;
     width: 100%;
     margin: 10px auto;
 }