 * {
     transition: all 0.7s ease 0s;
 }

 body {
     background-color: #2d2d31;
 }

 .all {
     width: 90%;
     margin: 0px auto;
 }

 /* 头部样式 */

 .header {
     display: flex;
     justify-content: space-between;
     position: fixed;
     width: 100%;
     top: 0;
     background-color: #1c1c20;
 }

 .header .search-about {
     position: relative;
     width: 50%;
     max-width: 90%;
     margin-left: 20px;
 }

 .header .search-about .search-object {
     display: flex;
     justify-content: space-between;
     margin: 20px 0 20px 0;
     height: 40px;
 }

 .header .search-about .logo {
     font-size: 18px;
     margin-right: 10px;
     margin-top: 5px;
     color: #FAFAFF;
     cursor: pointer;
 }

 .header .search-about .search-object .search-input {
     width: 80%;
     background-color: #f5f5f5;
     padding-left: 10px;
     color: #555555;
 }

 .header .search-about .search-object .search-input:focus {
     outline: none;
 }

 .header .search-about .search-object .search-button {
     width: 15%;
     background-color: #444444;
     color: #fff;
 }

 .header .search-about .search-object .search-button:focus {
     outline: none;
 }

 .header .search-about .search-type {
     display: flex;
     margin-left: 80px;
     justify-content: space-between;
     padding-bottom: 10px;
     color: #FAFAFF;
 }

 .header .search-about .search-type li:last-child span:hover {
     border-bottom: 2px solid #f07c82;
     cursor: pointer;
     transition: none;
 }

 .header .search-about .search-type li span {
     font-size: 15px;
     padding-bottom: 11px;
     color: #fff;
 }

 .header .search-about .search-type li span:hover {
     transition: none;
     border-bottom: 2px solid #FAFAFF;
     cursor: pointer;
 }

 .header .action-about {
     display: flex;
     flex-direction: column;
     justify-content: space-around;
     align-items: center;
     margin-top: 20px;
     margin-right: 20px;
 }

 .header .action-about .theme-switcher {
     position: relative;
     display: flex;
     height: 24px;
     width: 44px;
     background-color: #555555;
     border-radius: 22px;
     align-items: center;
     transition: all 1s ease 0s;
 }

 .header .action-about .theme-switcher .theme-circle {
     position: absolute;
     height: 16px;
     width: 16px;
     border-radius: 50%;
     background-color: #ffffff;
     transition: all 0.7s ease 0s;
     left: 0px;
 }

 .header .action-about .login a {
     color: #FAFAFF;
 }

 /* 页面内容 */

 .content {
     margin-top: 150px;
     margin-left: 20px;
 }

 .conttent .left {
     width: 60%;
 }

 .content .left .search-result {
     width: 80%;
 }

 .content .left .search-result ul {}

 .content .left .search-result ul li {
     margin-bottom: 30px;
     color: #fff;
 }

 .content .left .search-result ul li :nth-child(3) {
     max-width: 100%;
 }

 .content .left .search-result ul li cite {
     color: #78787C;
     display: block;
     max-width: 400px;
     overflow: hidden;
     white-space: nowrap;
     text-overflow: ellipsis;
 }

 .content .left .search-result ul li h3, .vrTitle {
     color: #66BBFF;
     font-size: 18px;
     font-weight: 400;
 }

 .content .left .search-result ul li h3 a {
     color: #66BBFF;
 }

 .content .left .search-result ul li div, p span a {
     color: #FAFAFF;
 }

 content .left .search-result ul li div, p div, p span, a {
     color: #FAFAFF;
 }

 .content .left .search-result #next, #previous {
     margin-top: 20px;
     margin-right: 10px;
     width: 60px;
     height: 30px;
     background-color: #444444;
     color: #fff;
 }

 .content .right .info {
     color: #FAFAFF;
 }

 .content .right .switch-chart * {
     width: 60px;
     height: 30px;
     background-color: #444444;
     color: #fff;
     margin-right: 10px;
 }