<!DOCTYPE html>
<html lang="en">

<head>
        <meta charset="UTF-8">
        <link rel="shortcut icon" href="/static/logo.ico" type="image/x-icon">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>晓闻</title>
        <link rel="stylesheet" href="/static/css/normalize.css">
        <link rel="stylesheet" href="/static/css/base.css">
        <link rel="stylesheet" href="/static/css/hot-news-white.css" id="style-switch">
</head>

<body>
        <header class="header">
                <h2 class="logo">晓闻</h2>
                <p class="one-poem"></p>
                <div class="theme-switcher">
                        <div class="theme-circle"></div>
                </div>
        </header>
        <section class="today">
                <h1 class="more">
                        🎉
                </h1>
                <h1 class="title">今日</h1>
                <section class="info">
                        <p></p>
                        <p></p>
                        <p></p>
                </section>

        </section>
        <div class="content">
                <ul class="hot-news">
                </ul>
        </div>
        <footer class="footer">
                <div class="copyright">© 2021 晓</div>
                <div class="slogan">晓之以理，动之以情</div>
                <div class="record">京ICP备19023111号-1</div>
                <div class="links">
                        <ul>
                                <li><a href="#">项目的诞生</a></li>
                                <li><a href="#">关于作者</a></li>
                                <li><a href="#">联系作者</a></li>
                                <li><a href="#">作者博客</a></li>
                        </ul>
                </div>
        </footer>
        <script src="/static/js/hot-news.js"></script>
</body>

</html>