<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="/static/logo.ico" type="image/x-icon">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>晓</title>
    <script src="https://cdn.jsdelivr.net/npm/whatwg-fetch@2.0.3/fetch.min.js"></script>
    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/index-white.css" id="style-switch">
</head>

<body>
    <header class="header">
        <h3 class="weather">晴&nbsp;|&nbsp;20&#176</h3>
        <div class="theme-switcher">
            <div class="theme-circle"></div>
        </div>
    </header>
    <div class="content">
        <h1 class="logo">XIAO</h1>
        <div class="search-about">
            <ul class="search-type">
                <li><span>综合</span></li>
                <li><span>必应</span></li>
                <li><span>百度</span></li>
                <li><span>搜狗</span></li>
                <li><span>360</span></li>
                <li><span>谷歌</span></li>
                <li><span>|</span></li>
                <li><a href="/science/"><span>学术</span></a></li>
                <li><a href="/translate/"><span>翻译</span></a></li>
                <li><a href="/hotnews/"><span>热点</span></a></li>
                <li><a href="/epidemic/"><span style="color: #f07c82; font-weight: 700;">关心疫情</span></a></li>
            </ul>
            <div class="search-object">
                <input type="text" class="search-input" placeholder="你的问题 / 知识获取" value="">
                <button class="search-button">搜一下</button>
            </div>
        </div>
        <div class="one-saying">
            <h3 class="one-content"></h3>
            <p class="one-from"></p>
            <p class="like-it">喜欢它 ❤</p>
            <p class="next">下一句 ✔</p>
        </div>
    </div>

    <footer class="footer">
        <div class="copyright">© 2021 晓</div>
        <div class="slogan">晓之以理，动之以情</div>
        <div class="record">京ICP备19023111号-1</div>
        <div class="links">
            <ul>
                <li><a href="#">项目的诞生</a></li>
                <li><a href="#">关于作者</a></li>
                <li><a href="#">联系作者</a></li>
                <li><a href="#">作者博客</a></li>
            </ul>
        </div>
    </footer>
    <script src="static/js/index.js"></script>
</body>

</html>