<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="shortcut icon" href="/static/logo.ico" type="image/x-icon">
    <title>晓移动版</title>
    <link rel="stylesheet" href="/static/css/normalize.css">
    <!-- <link rel="stylesheet" href="/static/css/base.css"> -->
    <link rel="stylesheet" href="/static/css/mobile-index-white.css" id="style-switch">
</head>

<body>
    <header class="header">
        <p class="weather">晴 | 9:00</p>
        <div class="theme-switcher">
            <div class="theme-circle">
            </div>
        </div>
    </header>
    <h1 class="logo">XIAO</h1>
    <ul class="search-type">
        <li><a href="/mobile_search/">必应</a></li>
        <li>百度</li>
        <li>谷歌</li>
        <li>搜狗</li>
        <li>360</li>
        <li><a href="/mobile_translate/">翻译</a></li>
        <li>学术</li>
        <li><a href="/mobile_hotnews/">热点</a></li>
        <li>疫情</li>
    </ul>
    <div class="search-object">
        <input type="text" class="search-input" placeholder="你的问题 / 知识获取" value="">
        <button class=search-button>搜索</button>
    </div>
    <div class="one-saying">
        <h3 class="one-content">“ 只有身处暖春，才会怕冷 ”</h3>
        <p class="one-from">— 简媜 —</p>
        <p class="like-it">喜欢它 ❤</p>
        <p class="next">下一句 ✔</p>
    </div>
    <div class="footer">
        <p>© 2021 开发者武轲 | </p>
        <a href="#">&nbsp;关于</a>
    </div>

    <script src="/static/js/mobile-index.js"></script>
</body>

</html>