<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="/static/logo.ico" type="image/x-icon">
    <title>晓闻</title>
    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/css/mobile-hotnews-white.css" id="style-switch">
</head>

<body>
    <header class="header">
       <a href="/mobile_app/"><h3 class="logo">今日晓闻</h3></a>
        <div class="theme-switcher">
            <div class="theme-circle">
            </div>
        </div>
    </header>
    <div class="today">
        <div class="weather-date">
            <div class="date-box">
                <h1 class="day-date">09</h1>
                <p class="month-date">May</p>
            </div>
            <div class="weather-box">
                <p class="weather">
                    晴&nbsp;|&nbsp;20&#176;
                </p>
                <p class="do">今日宜学习</p>
            </div>

        </div>
        <p class="time">12:59</p>
    </div>
    <ul class="content">
    </ul>
    <div class="next">&darr;</div>
    <div class="footer">
        <p>© 2021 开发者武轲 | </p>
        <a href="#">&nbsp;关于</a>
    </div>
    <script src="/static/js/mobile-hotnews.js"></script>
</body>

</html>