<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>晓</title>
    <link rel="shortcut icon" href="/static/logo.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/css/mobile-app-white.css" id="style-switch">
</head>

<body>
    <header class="header">
        <div class="app">
            <h1 class="app-logo">
                X
            </h1>
            <div class="app-description">
                <h2 class="app-name">晓</h2>
                <p class="app-slogan">晓之以理，动之以情</p>
                <p class="date-weather">20:00 | 晴</p>
            </div>
        </div>
        <div class="theme-switcher">
            <div class="theme-circle">
            </div>
        </div>
    </header>
    <div class="content">
        <ul class="product-items">
            <li>
                <a href="/mobile_search/">
                    <h3 class="product-logo">S</h3>
                    <h3 class="product-name">晓搜</h3>
                    <p class="product-description">多元搜索</p>
                </a>
            </li>
            <li>
                <a href="/mobile_translate/">
                    <h3 class="product-logo">T</h3>
                    <h3 class="product-name">晓译</h3>
                    <p class="product-description">多元翻译</p>
                </a>
            </li>
            <li>
                <a href="/mobile_hotnews/">
                    <h3 class="product-logo">N</h3>
                    <h3 class="product-name">晓闻</h3>
                    <p class="product-description">每日热点</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <h3 class="product-logo">B</h3>
                    <h3 class="product-name">晓学</h3>
                    <p class="product-description">查找文献</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <h3 class="product-logo">E</h3>
                    <h3 class="product-name">疫情</h3>
                    <p class="product-description">关心疫情</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <h3 class="product-logo">C</h3>
                    <h3 class="product-name">历程</h3>
                    <p class="product-description">产品的诞生</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <h3 class="product-logo">D</h3>
                    <h3 class="product-name">关于</h3>
                    <p class="product-description">关于开发者</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <h3 class="product-logo">L</h3>
                    <h3 class="product-name">好评</h3>
                    <p class="product-description">喜欢产品</p>
                </a>
            </li>
        </ul>
        <div class="footer">
            <p>© 2021 开发者武轲 | </p>
            <a href="#">&nbsp;联系他</a>
        </div>
    </div>
    <script src="/static/js/mobile-app.js"></script>
</body>