<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="/static/logo.ico" type="image/x-icon">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>晓学</title>
    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/science-white.css" id="style-switch">
</head>

<body>
    <header class="header">
        <h1 class="logo">
            晓学
        </h1>
        <ul class="other-products">
        </ul>
        <section class="other">
            <h3 class="login"></h3>
            <div class="theme-switcher">
                <div class="theme-circle">
                </div>
            </div>
        </section>

    </header>
    <div class="content">
        <section class="left">
            <ul class="science-type">
                <li>

                    <p>谷歌学术</p>
                </li>
                <li>
                    <p>微软学术</p>
                </li>
                <li>

                    <p>百度学术</p>
                </li>
                <li>

                    <p>OALib</p>
                </li>
                <li>

                    <p>AMiner</p>
                </li>
                <li>

                    <p>Sci-Hub</p>
                </li>
                <li>

                    <p>CNKI</p>
                </li>
                <li>

                    <p>Open-i</p>
                </li>
                <li>

                    <p>国图文津</p>
                </li>
                <li>

                    <p>世界数字图书馆</p>
                </li>
                <li>

                    <p>X-MOL</p>
                </li>
                <li>

                    <p>术语搜索</p>
                </li>
                <li>

                    <p>比勒费尔德学术</p>
                </li>
                <li>

                    <p>SJR</p>
                </li>
                <li>

                    <p>SCI影响因子</p>
                </li>
                <li>

                    <p>CINII</p>
                </li>
                <li>

                    <p>英文DOI</p>
                </li>
                <li>

                    <p>RSC Publishing</p>
                </li>
                <li>

                    <p>麻省理工文献</p>
                </li>
                <li>

                    <p>剑桥大学知识库</p>
                </li>
                <li>

                    <p>更多...</p>
                </li>
            </ul>
        </section>
        <section class="right">
            <iframe class="science-content" src="https://www.wdl.org/zh/" frameborder="0" width="100%"
                height="100%"></iframe>
        </section>
    </div>
    <footer class="footer">
        <div class="copyright">© 2021 晓搜索</div>
        <div class="slogan">晓之以理，动之以情</div>
        <div class="record">京ICP备19023111号-1</div>
        <div class="links">
            <ul>
                <li><a href="#">项目的诞生</a></li>
                <li><a href="#">关于作者</a></li>
                <li><a href="#">联系作者</a></li>
                <li><a href="#">作者博客</a></li>
            </ul>
        </div>
    </footer>
    <script src="/static/js/science.js"></script>
</body>

</html>