<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="/static/logo.ico" type="image/x-icon">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>晓译</title>
    <link rel="stylesheet" href="/static/css/normalize.css">
    <!-- <link rel="stylesheet" href="/static/css/base.css"> -->
    <link rel="stylesheet" href="/static/css/translate-white.css" id="style-switch">
</head>

<body>
    <header class="header">
        <h2 class="logo">晓译</h2>
        <p class="one-poem"></p>
        <div class="theme-switcher">
            <div class="theme-circle"></div>
        </div>
    </header>

    <h2 class="hello">别来无恙啊，<span>看山学长👏</span></h2>

    <div class="content">
        <div class="translate">
            <ul class="translate-type">
                <li>谷歌翻译</li>
                <li>腾讯翻译</li>
                <li>阿里翻译</li>
                <li>百度翻译</li>
                <li>有道翻译</li>
                <li>微软翻译</li>
                <li>deepl翻译</li>
            </ul>
            <div class="translate-box">
                <textarea class="left" placeholder="输入文本翻译." autocomplete="off" value="">晓</textarea>
                <button class="translate-button">翻译</button>
                <textarea class="right" autocomplete="off"></textarea>

            </div>

        </div>
    </div>

    <footer class="footer">
        <div class="copyright">© 2021 晓搜索</div>
        <div class="slogan">晓之以理，动之以情</div>
        <div class="record">京ICP备19023111号-1</div>
        <div class="links">
            <ul>
                <li><a href="#">项目的诞生</a></li>
                <li><a href="#">关于作者</a></li>
                <li><a href="#">联系作者</a></li>
                <li><a href="#">作者博客</a></li>
            </ul>
        </div>
    </footer>
    <script src="/static/js/translate.js"></script>
</body>

</html>